.headerNav {
	margin-top: 6px;
}

.headerNav ul {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid black;
	padding: 6px 50px;
	flex-wrap: wrap;
}

.headerNav ul a {
	color: black;
	font-size: 12px;
}

@media (max-width: 768px) {
	.headerNav {
		display: none;
	}
}