.listArticleContainer {
	display: flex;
	flex-direction: column;
	align-items: center !important;
}

.listArticleContainer > small {
	text-align: left;
	padding-left: 16px;
	align-self: flex-start;
	margin-bottom: 4px;
	color: #363636;
}

.listArticleContainer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px;
	gap: 16px;
	border-left: 1px solid #dfdfdf;
}

.listArticleContainer img {
	width: 205px;
}

.listArticleContainer a {
	max-width: 205px;
}

.listArticleContainer a h2 {
	margin-top: 4px;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
}
