.tabs {
	border-top: 2px solid black;
}

.tabs ul {
	margin-top: -10px;
	border-bottom: 1px solid #dfdfdf;
}

.tabs ul {
	display: flex;
}

.tabs ul li {
	margin-left: 8px;
	background-color: transparent;
	padding: 16px 40px 10px 40px;
	display: flex;
	align-items: center;
	font-weight: 800;
	color: #666;
	width: fit-content;
}

.tabs ul li > span > span {
	cursor: pointer;
}

.tabs span {
	display: flex;
	align-items: center;
}

.tabs input {
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: 600;
	color: #727272;
	width: 60px;
	padding: 4px;
}

li.active {
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: white !important;
	margin-bottom: -1px;
	color: #363636 !important;
}
