.latestNews {
	display: flex;
	gap: 30px;
	max-width: 840px;
	padding: 28px 0;
	border-bottom: 1px solid #dfdfdf;
}

.latestNews > div:first-child {
	padding-top: 6px;
	font-size: 11px;
	color: #666;
	min-width: 90px;
}

.latestNews > div:nth-child(2) a {
	color: black;
	font-size: 23px;
	line-height: 25px;
	font-family: 'Times New Roman', Times, serif;
}

.latestNews > div:nth-child(2) a:hover {
	text-decoration: underline;
}

.latestNews > div:nth-child(2) p {
	margin-bottom: 8px;
	line-height: 20px;
}

.latestNews > div:nth-child(2) p:nth-child(2) {
	font-size: 14px;
	color: #363636;
	margin-bottom: 8px;
}

.latestNews > div:nth-child(2) small {
	color: #666;
	font-size: 11px;
}

.latestNews > img {
	width: 205px;
}
