.flexContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid black;
}

.flexContainer img {
  width: 520px;
}

@media (max-width: 768px) {
	.flexContainer {
    flex-direction: column;
		max-width: 100vw;
	}

  .flexContainer img {
    max-width: 100%;
  }
}