.home {
	display: grid;
	grid-template-columns: 830px 1px 336.91px;
	gap: calc(1rem + 1px);
	padding: 20px 0;

}

.opinion {
	padding: 10px 0;
	border-bottom: 1px solid black;
}

.missed {
	padding: 10px 0;
}

.smallDouble {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(1rem + 1px);
	border-bottom: 1px solid black;
}

.line {
	background-color: rgb(226, 226, 226);
	margin-bottom: 24px;
	width: 1px;
}

.lineLg {
	background-color: rgb(226, 226, 226);
	width: 1px;
}

.missed span,
.opinion span {
	font-family: nyt-franklin,helvetica,arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
}

