.home {
	display: grid;
	grid-template-columns: 3fr 1px 1fr;
	gap: calc(1rem + 1px);

}

.smallDouble {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(1rem + 1px);
	padding: 10px 0;
	border-bottom: 1px solid black;
}

.line {
	background-color: rgb(226, 226, 226);
	width: 1px;
}

.lineLg {
	margin-top: 10px;
	background-color: rgb(226, 226, 226);
	width: 1px;
}


