.container {
	display: flex;
	justify-content: space-between;
}

.container > div {
	width: 20%;
}

.container > div:first-child {
	display: flex;
	gap: 4px;
	flex-direction: column;
}

.container > div:first-child p {
	font-size: 12px;
	font-weight: 600;
}

.container > div:first-child a {
	font-size: 12px;
	color: #121212;
	transition: color 0.6s ease;
}

.container > div:first-child a:hover {
	color: #666;
}

.container > img {
	width: 430px;
}
