.flexContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 0 100px;
}

.flexContainer img {
  max-width:1200px;
  max-height: 800px;
}

.flexContainer h3,
.flexContainer p {
  display: flex;
  justify-content: center;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  max-width: 600px;
  margin: 0 auto;
}

.flexContainer h3 {
  font-size: 40px;
}

.flexContainer p {
  font-size: 23px;
  color: #5a5a5a;
  padding-top: 24px;
  padding-bottom: 35px;
  margin: 0 auto 24px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.interactions {
  display:flex;
  gap: 10px;
  max-width: 600px;
  margin-left: 300px;
  padding-bottom: 24px;
}

.interactions button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border: solid 1px #dfdfdf;
  background-color: #fff;
  -webkit-transition: background-color 0.1s,color 0.1s;
  transition: background-color 0.1s,color 0.1s;
  border-radius: 30px;
  padding: 6px 10px 6px;
}

.interactions button:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}

.interactions button:first-child {
  gap: 5px;
}

.authInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 12px;
  max-width: 600px;
  padding-left: 300px;
  padding-bottom: 16px;
}

.authInfo span:last-child {
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid rgb(223, 223, 223);
}

@media (max-width: 768px) {
  .authInfo{
    padding-left: 0px;
  }

  .interactions {
    margin-left: 0px;
  }

  .flexContainer {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 100px;
  }
}