.text {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  max-width: 290px;
  padding: 10px 0;
}

.text p {
  color: #5a5a5a;
  padding-top: 10px;
}

.text h3 {
  color: #121212;
}