.smNews {
	max-width: 150px;
	margin-bottom: 24px;
}

.smNews h3 {
	color: #121212;
	font-size: 1rem;
	line-height: 1.2em;
	padding-top: 10px;
	letter-spacing: 0.01em;
	-webkit-font-smoothing: antialiased;
}

.smNews h3:hover {
	color: #666;
}
