* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
	max-width: 1200px;
	margin: 4px auto;
}

a {
	color: black;
}

a h2:hover {
	text-decoration: underline;
}

h3:hover {
	cursor: pointer;
	color: rgb(90, 90, 90) !important;
}
